if SHIELD_LICORICE1_LEFT

config ZMK_KEYBOARD_NAME
    default "licorice"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LICORICE1_LEFT

if SHIELD_LICORICE1_LEFT || SHIELD_LICORICE1_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LICORICE1_LEFT || SHIELD_LICORICE1_RIGHT
